.root {
    -fx-background-color: #f7f5ff;
}

.sidebar {
    -fx-background-color: white;
    -fx-padding: 20;
}

.toolbar {
    -fx-padding: 15;
    -fx-background-color: white;
}

.card {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-pref-width: 250;
    -fx-background-radius: 15;
}

.big-number {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.big-number-green {
    -fx-font-size: 32px;
    -fx-text-fill: green;
}

.big-number-orange {
    -fx-font-size: 32px;
    -fx-text-fill: orange;
}

.big-number-red {
    -fx-font-size: 32px;
    -fx-text-fill: red;
}

.activity-panel {
    -fx-background-color: white;
    -fx-padding: 15;
}

.table-view {
    -fx-background-radius: 15;
}

.connection-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #d6d3ff;
    -fx-padding: 15;
}

.card-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 6;
}